.topics {
  background-color: var(--mantine-color-blue-0);
  border-color: var(--mantine-color-blue-2);
}

.keyPoints {
  background-color: var(--mantine-color-teal-0);
  border-color: var(--mantine-color-teal-2);
}

.practice {
  background-color: var(--mantine-color-yellow-0);
  border-color: var(--mantine-color-yellow-2);
}

.codeBlock {
  background-color: var(--mantine-color-gray-2);
  padding: 10px 15px;
  border-radius: 10px;
  font-family: monospace;
  overflow-x: auto;
}
